# Node Modules
node_modules/

# Bower Components
src/lib

# SASS Cache
.sass-cache/

# Rebooted
.rebooted

# Mac crap
.DS_Store

# Build
build/

# Distibution File
dist/

# Google Fonts
src/resources/fonts/google/

# FTP Settings
sftp-config.json
sftp-config-alt.json

#testCredentials
testCredentials.babel.js
testCredentials.js
