.form-group.photo-input {

  .alert {
    margin-bottom: 0;
  }

  .alert-default {
    background-color: $Calcite_Gray_200;
    border: $Calcite_Gray_450 1px solid;
  }

  .drag-area.uploader {
    position: relative;
    text-align: center;
    padding: 80px 0;

    h4 {
      line-height: 1.5em;
      margin: 0;
    }
  }

  .btn-file {
    position: absolute;
    overflow: hidden;
    margin: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;

    input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      cursor: inherit;
      display: block;
    }
  }

  button.btn-file {
    position: relative;
  }

  label.btn-file::after {
    content: "";
    margin-left: 0;
  }

  .preview-pane {
    // display: none;
    position: relative;
  }

  img {
    width: 100%;
  }
}
