.thumbnail-gallery {
  background-color: #000;

  &.selection {
    .gallery-item:not(.selected) {
      opacity: 0.5;
      @include transition(opacity 0.3s);

      &:hover {
        opacity: 0.75;
        @include transition(opacity 0.3s);
      }
    }
  }

  .gallery-list {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: auto;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .gallery-item{
    position: relative;
    float: left;
    height: 200px;
    width: 200px;
    padding: 0;
    margin: 0;
    background-color: #000;
    list-style: none;
    cursor: pointer;
    @include transition(opacity 0.3s);

    &:hover:not(.selected), &.highlighted:not(.selected) {
      opacity: 0.75;
      @include transition(opacity 0.3s);
    }

    .info-card {
      position: absolute;
      width: 100%;
      bottom: 0;

      &.background-fill {
        background-color: rgba(0,0,0,0.7);
      }

      h6, p {
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        z-index: 2;
      }

      h6 {
        display: block; /* Fallback for non-webkit */
        display: -webkit-box;
        height: 38px; /* Fallback for non-webkit */
        font-size: 14px;
        font-weight: bold;
        line-height: 1.4em;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin: 8px;
      }

      p {
        font-size: 12px;
        margin: 0 8px 8px;
        white-space: nowrap;
      }

    }

    .background-image.lazy-image.loaded {
      @include animation(fadeIn 2s);
    }
  }
}
