.header {
  position: absolute;
  height: $headerHeight;
  top: 0;
  overflow: hidden;
  z-index: 902;

  .cell-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .cell {
    white-space: nowrap;
    flex: 0;

    &:first-child {
      margin-left: 5px;
    }

    &:last-child {
      padding: 0 $headerMargin 0;
      text-align: right;

      .participate {
        margin-right: 5px;
      }
    }

    &.fill-cell {
      flex: 1;
    }
  }

  img.logo{
    height: $headerHeight - 16;
    margin: 0 $headerMargin;
  }

  .title {
    margin-left: $headerMargin;
    font-size: 1.3em;
    line-height: 1.3em;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }

  .participate {
    cursor: pointer;
    margin: 0 $headerMargin 0 0;

    &.participate-btn-enter {
      opacity: 0;
    }

    &.participate-btn-enter-active {
      opacity: 1;
      @include transition(opacity 1s);
    }

    &.participate-btn-leave {
      opacity: 0;
      @include transition(opacity 1s);
    }

    .text {
      font-size: 1.5em;
      vertical-align: middle;
    }

    .icon {
      height: 2.5em;
      width: 2.5em;
      vertical-align: middle;
    }

  }

  .share {
    padding: 0 5px;

    svg {
      height: 1.2em;
      width: 1.2em;
      vertical-align: middle;
    }
  }

  // RESPONSIVE STYLES START
  @media (max-width: 767px) {
    .participate-cell, .title-cell {
      display: none;
    }
  }
  // RESPONSIVE STYLES END

}
