@import "crowdsource/styles/base/SharedImports";

// Crowdsource Base
@import "crowdsource/styles/base/Base";
@import "crowdsource/styles/base/Digits";
@import "crowdsource/styles/base/Helper";
@import "crowdsource/styles/animations/Animations";

// Helper Components
@import "helper/sharing/ShareButtonPane";
@import "helper/modal/Modal";
@import "helper/loading/Loader";
@import "helper/infiniteScroller/InfiniteScroller";
@import "helper/notifications/AppNotifications";
@import "helper/mapTip/MapTip";

// Forms
@import "forms/Forms";

// UI Components
@import "admin/banner/AdminBanner";
@import "viewerDialogs/ViewerDialogs";
@import "intro/IntroSplash";
@import "header/Header";
@import "map/Map";
@import "gallery/ThumbnailGallery";
@import "contribute/ContributePanel";
@import "selectedShares/SelectedShares";

// Layouts
@import "crowdsource/styles/layouts/Layouts";

// Mobile
@import "mobile/bottomNavigation/BottomNavigation";

html,body,#app,.crowdsource-app,.viewer {
  overflow: hidden;
}

.viewer {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: visible;
}

.banner .viewer {
  height: calc(100% - #{$navbar-height});
}

.banner .control-banner {
  margin: 0;
  z-index: 53;

  .background-image.lazy-image.loaded {
    @include animation(fadeIn 1.5s);
  }

  .container-fluid {
    position: relative;
  }

  .app-name {
    color: $nameHighlight;
    font-weight: bold;
  }

  .prepend, .append {
    color: $nameStandard;
  }

}

@media (max-width: 767px) {
  .banner .viewer {
    height: calc(100% - #{$navbar-height-mobile});
  }
}
