$paneNavigation: #6e6e6e;
$actionText: #4d8fbb;

html, body{
  background: #000;
  color: #fff;
}

.header {
  background-color: #3e3d3e;

  .share{
    color: #aaa;

    &:hover{
      color: #fff;
    }
  }

  .participate{
    color: $actionText;

    &:hover{
      color: lighten($actionText, 10%);
    }
  }

}

.pane-navigation{
  background-color: $paneNavigation;

  &:hover {
    background-color: lighten($paneNavigation, 5%);
  }
}
