$backgroundColor: #fff;
$textColor: #000;

.map-tip {
  position: absolute;
  z-index: 1;
  @include filter(drop-shadow(1px 1px 3px #888));

  .content {
    background-color: $backgroundColor;
    color: $textColor;
    text-align: center;
    max-width: 250px;
    padding: 5px 10px;
  }

  .top-arrow{
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid $backgroundColor;
  }

  .bottom-arrow{
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid $backgroundColor;
  }
}
