.builder-banner {
  margin: 0;

  .background-fill {
    height: $buiderBannerHeight;
  }

  .container-fluid {
    position: relative;
  }

  .app-name {
    color: $nameHighlight;
    font-weight: bold;
  }

  .append {
    color: $nameStandard;
  }

}
