.builder-banner {
  margin: 0;

  .background-fill {
    height: $buiderBannerHeight;
  }

  .container-fluid {
    position: relative;
  }

  .app-name {
    color: #368ec6;
    font-weight: bold;
  }

  .append {
    color: #cfcfcf;
  }

}
