.splash {

  .loadingIndicator {
    top: calc(100% - 160px);
    @include animation(moveLoadingIndicator 3s);
  }

  .title-pane {
    opacity: 1;
    @include animation(fadeInTitle 3s);
  }

}

@include keyframes(moveLoadingIndicator) {
  0% {
    top: 50%;
  }
  100% {
    top: calc(100% - 160px);
  }
};

@include keyframes(fadeInTitle) {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
};
