.splash {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #E5E5E5;
  @include box-shadow(inset 0px 0px 82px 19px rgba(0,0,0,0.3));
  z-index: 49;

  .background-fill {
    border-radius: 10px;
  }

  .loadingIndicator.wait-for-action-leave {
    opacity: 0;
    @include transition(opacity 1s);
  }

  .background-image.lazy-image.loaded {
    @include animation(fadeIn 1.5s);
  }

  .title-pane {
    position: absolute;
    width: 76%;
    top: 25%;
    left: 12%;
    text-align: center;
    opacity: 0;

    h1 {
      margin: 30px;
      position: relative;
      font-size: 4em;
    }

    h2 {
      margin: 15px 30px 30px;
      position: relative;
      font-size: 2em;
    }

    .background-fill {
      border-radius: 10px;
    }
  }

  .action-buttons {
    position: absolute;
    bottom: 130px;
    text-align: center;
    width: 80%;
    left: 10%;

    .wait-for-action-enter {
      opacity: 0;
    }

    .wait-for-action-enter-active {
      opacity: 1;
      @include transition(opacity 1s);
    }

    .wait-for-action-leave {
      opacity: 0;
      @include transition(opacity 1s);
    }

    .action-buttons-inner {
      position: relative;
      display: inline-block;
    }

    .action-seperator {
      margin: 20px;
      text-transform: uppercase;
    }

    button {
      position: relative;
      margin: 10px 0;

      &:hover .background-fill {
        opacity: 0.9;
      }

      span {
        font-size: 1.2em;
        line-height: 2.3em;
        margin: 20px;
        position: relative;
      }
    }
  }

  // RESPONSIVE STYLES START
  @media (max-width: 1000px) {
    .title-pane {
      h1 {
        font-size: 2.5em;
      }

      h2 {
        font-size: 1.8em;
      }
    }
  }

  @media (max-width: 767px) {
    .title-pane {
      h1 {
        font-size: 2em;
      }

      h2 {
        font-size: 1.3em;
      }
    }

    .action-buttons button, .action-buttons span {
      display: none;
    }
  }
  // RESPONSIVE STYLES END
}
