.splash {

  .loadingIndicator {
    top: calc(100% - 140px);
    @include animation(moveLoadingIndicator 3s);
  }

  .title-pane {
    opacity: 1;
    @include animation(fadeInTitle 3s);
  }

}

.banner .splash .loadingIndicator {
  top: calc(100% - 140px + $bannerHeight);
  @include animation(moveLoadingIndicatorWithBanner 3s);
}

@include keyframes(moveLoadingIndicatorWithBanner) {
  0% {
    top: 50%;
  }
  100% {
    top: calc(100% - 140px + $bannerHeight);
  }
};

@include keyframes(moveLoadingIndicator) {
  0% {
    top: 50%;
  }
  100% {
    top: calc(100% - 140px);
  }
};

@include keyframes(fadeInTitle) {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
};
