.settings.side-panel .social-settings {

  .tweet-count-warning {
    margin: -10px 0 15px;
    line-height: 1;
    font-weight: bold;
  }

  .tweet-count {
    float: right;
    margin: -10px 0 15px;
  }
}
