.scroll{

  .main-content {
    // TODO Make hidden
    overflow: auto;
  }

  .content-pane {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .pane-navigation {
    height: 50px;
  }

}
