.scroll{

  .main-content {
    overflow: hidden;
  }

  .content-pane {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .pane-navigation {
    padding: 4px 0 0;
    text-align: center;
    cursor: pointer;

    .icon {
      margin-left: 10px;
      height: 2em;
      width: 2em;
      transform: translateY(-2px);
      -ms-transform: translateY(-2px);
    }
  }

}
