.form-group.form-geocoder {

  input {
    position: relative;
    z-index: 1;
  }

  .esriGeocoderResults {
    display: block;
    position: absolute;
    padding: 0;
    margin-top: -1px;
    height: auto;
    z-index: 0;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        font-size: 14px;
        padding: 6px 12px;

        &:focus, &:hover {
          outline: none;
          background: $Calcite_Highlight_Blue_150;
          cursor: pointer;
        }
      }
    }
  }

  .zoomLocateButton {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  .calcite-locate {
    height: 38px;
    width: 44px;

    .icon-location {
      position: absolute;
      height: 60%;
      width: 60%;
      top: 20%;
      left: 20%;
    }

    .loading-gif {
      display: none;
      position: absolute;
      height: 80%;
      width: 80%;
      top: 10%;
      left: 10%;
    }

    .loading {
      .icon-location {
        display: none;
      }

      .loading-gif {
        display: block;
      }
    }
  }

}
