.form-group.form-geocoder {

  input {
    position: relative;
    z-index: 1;
  }

  .esriGeocoderResults {
    display: block;
    position: absolute;
    padding: 0;
    margin-top: -1px;
    height: auto;
    z-index: 0;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        font-size: 14px;
        padding: 6px 12px;

        &:focus, &:hover {
          outline: none;
          background: $Calcite_Highlight_Blue_150;
          cursor: pointer;
        }
      }
    }
  }

}
