.infinite-scroller {
  .scrollable {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .spacer {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 0;
  }
}
