.share-link-dialog {

  .link-button {
    margin: 5px 5px 0 0;
  }

  .dropdown {
    display: inline-block;
    margin: 0 5px;

    li {
      padding: 3px 10px;
      font-size: 0.8em;
      cursor: pointer;

      &:hover {
        background-color: #d4d4d4;
      }
    }
  }

  .btn .caret {
    margin-left: 5px;
  }

  @media (max-width: 767px) {
    .dropdown {
      width: 100%;
      margin: 5px 0 0;

      .dropdown-toggle {
        width: 100%;
      }
    }

    .copy-button {
      width: 100%;
      margin-top: 5px;
    }
  }

}
