#{$font-option}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, .tooltip, .popover {
  font-family: $primary-font-sanserif, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

html, body, blockquote, .serif-face {
  font-family: $primary-font-serif, Georgia, serif;
}

code,
kbd,
pre,
samp {
  font-family: $primary-font-monospace, 'Consolas', 'Andale Mono', 'Lucida Console', 'Monaco', 'Courier New', Courier, monospace;
}
