@import "textarea/Textarea";
@import "location/Location";
@import "photo/Photo";
@import "termsAndConditions/TermsAndConditions";

form {

  .required label::after {
    color: $Calcite_Red_a150;
    font-weight: bold;
    font-size: 18px;
    margin-left: 3px;
    content: "*";
  }

  ul.form-error-message {
    margin-top: 5px;
    line-height: 1;
    padding: 0;
    list-style-type: none;

    .text-btn {
      font-weight: inherit;
      margin-left: 5px;
    }
  }

}
