@import "location/Location";
@import "photo/Photo";

.form-group {

  ul.form-error-message {
    margin-top: 5px;
    line-height: 1;
    padding: 0;
    list-style-type: none;

    .text-btn {
      font-weight: inherit;
      margin-left: 5px;
    }
  }

}
