.contribute-panel {
  .close-button-wrapper {
    display: none;
  }

  &:hover .close-button-wrapper{
    display: block;
  }

  .form-title {
    margin-top: 0;
  }

  .save-btn {
    margin: 15px 0;
  }
}
