.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .modal {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
  }
}
