.app-share {

  .app-privacy {

    .text {
      margin: 0 2px;
    }

    .icon svg {
      height: 1.3em;
      width: 1.3em;
      margin: 0 2px;
      vertical-align: text-top;
    }
  }

  textarea {
    resize: none;
  }
}
