#app {
  height: 100vh;
  width: 100vw;
}

.crowdsource-app {
  height: 100%;
  width: 100%;

  .content-pane {
    height: 100%;
    width: 100%;
  }

  // BASE ICON STYLE
  svg.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
  }

  // STRECTCH BACKGROUND FILL CONTAINERS
  .background-fill {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    z-index: 0;
  }

  // AUTOMATICALLY STRECTCH BACKGROUND IMAGES
  .background-image {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  // BUTTONS
  .text-btn {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
  }

  .navbar {
    border: none;
  }

}
