// COMPONENTS START

// Banner
$bannerHeight: 50px;
$nameStandard: $Calcite_Gray_300;
$nameHighlight: $Calcite_Blue_200;

// Header
$headerHeight: 50px;
$headerMargin: 15px;

// Mobile
$mobileBottomNavigationHeight: 65px;

// COMPONENST END
