@import "./SelectedDisplay";

.crowdsource-app .overlay-panel.selected-share {
  padding: 0;

  &.scrolled .selected-navigation{
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    transition: -webkit-box-shadow 0.3s ease-in-out;
    transition: -moz-box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
  }

  .selected-navigation {
    position: relative;
    height: 54px;
    text-align: right;
    padding: 10px 10px 0;
    color: #999;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    transition: -webkit-box-shadow 0.3s ease-in-out;
    transition: -moz-box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;

    .next-btn {
      margin: 0 10px;
    }

    .btn {
      padding: 5px;
      font-size: 20px;
      line-height: 1;
    }

    svg {
      vertical-align: middle;
    }
  }

  @media (max-width: 767px) {
    .selected-navigation {
      height: 44px;
      padding: 0 10px;

      .next-btn {
        margin: 0 5px;
      }

      .btn {
        padding: 10px;
        font-size: 20px;
        line-height: 1;
      }
    }
  }
}
