$paneNavigation: #6e6e6e;
$actionText: #4d8fbb;
$shadowColor: #fff;

.stacked-default {
  color: #fff;

  .splash {
    color: #000;

    .background-fill {
      background-color: rgba(229,229,229,0.7);
    }

    button.background-fill:hover {
      background-color: rgba(229,229,229,0.9);
    }

    .action-seperator {
      text-shadow:
        -1px -1px 50px $shadowColor,
        1px -1px 50px $shadowColor,
        -1px 1px 50px $shadowColor,
        1px 1px 50px $shadowColor,
        -1px -1px 10px $shadowColor,
        1px -1px 10px $shadowColor,
        -1px 1px 10px $shadowColor,
        1px 1px 10px $shadowColor;
    }
  }

  .main-app-header.header {
    background-color: #3e3d3e;

    .share{
      color: #aaa;

      &:hover{
        color: #fff;
      }
    }

  }

  .pane-navigation{
    background-color: $paneNavigation;

    &:hover {
      background-color: lighten($paneNavigation, 5%);
    }
  }

  .overlay-panel {
    background-color: #fff;
    color: #333;
  }

  .bottom-navigation {
    background-color: $paneNavigation;
  }
}
